{% extends "users/base.html" %}
{% block content %}
<div class = "container">
    <div class = "header"> About Paper Detail Automation</div>
    <div class = "content">
        This portal helps you find the details of papers published and citations received of persons in bulk.
        It uses data from the popular search engine <a target="_blank" href="https://scholar.google.com/">scholar.google.com</a>.
        <div class = "content-section">
            You can upload the csv file of the given format with the deatils of the persons you'd like to know paper and theses details.
            and we extract their data and provide to you in a usable format.
        </div>  
    </div>
</div>
{% endblock content %}